{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"]
        }
      }],
      "stage-1"
    ],
    "plugins": [
      "lodash",
      [
        "transform-incremental-dom", {
          "requireStaticsKey": false,
          "inlineExpressions": false,
          "fastRoot": false,
          "components": true,
          "moduleSource": "incremental-dom",
          "skipAttribute": "__skip"
        }
      ]
    ]
  }
  