<header class="top-toolbar bar bar-nav">
</header>
<div class="content">
    <div class="card">
        <ul class="table-view">
            <li class="table-view-cell">{{playback.device.name}}</li>
            <li class="table-view-cell">{{user.email}}</li>
            <li class="table-view-cell">{{playback.item.name}}</li>
        </ul>
    </div>
</div>