<header class="top-toolbar bar bar-nav">
    <button class="btn pull-left">
        Left
    </button>
    <button class="btn pull-right">
        Right
    </button>
    <div class="segmented-control">
        <a class="control-item active">One</a>
        <a class="control-item">Two</a>
        <a class="control-item">Three</a>
    </div>
</header>
<div class="content sliding left hidden">
  <ul class="table-view">
    <li class="table-view-cell">
      <a class="navigate-right">
        <span class="badge">5</span>
        Item 1
      </a>
    </li>
    <li class="table-view-cell">
      <a class="navigate-right">
        <span class="badge">5</span>
        Item 2
      </a>
    </li>
    <li class="table-view-cell">
      <a class="navigate-right">
        <span class="badge">5</span>
        Item 3
      </a>
    </li>
  </ul>
</div>