<div class="modal">
    <header class="bar bar-nav">
        <a class="icon icon-close pull-right" href="/"></a>
        <h1 class="title">Login</h1>
    </header>
    <div class="content">
        <div class="content-padded">
            <form>
                <input class="login-username" name="username" type="text" placeholder="Login">
                <input class="login-password" name="password" type="password" placeholder="Password">
                <button class="profile-login btn btn-positive btn-block">Login</button>
            </form>
        </div>
    </div>
</div>
