<a href="/tracks/view/{{id}}" class="navigate-right">
    <img class="media-object pull-left" src="{{images.0.url}}" height="24">
    <div class="media-body">
        {{name}}
        <p></p>
    </div>
    <span class="badge">{{tracks.total}}</span>
</a>