<header class="bar bar-nav">
  <a class="icon icon-left-nav pull-left"></a>
  <a class="icon icon-compose pull-right"></a>
  <h1 class="title">Title</h1>
</header>
<div class="content">
<div class="content-padded">
    <form>
        <input type="text" placeholder="Full name">
        <input type="search" placeholder="Search">
        <textarea rows="5"></textarea>
        <button class="btn btn-positive btn-block">Choose existing</button>
    </form>
</div>
<div class="card">
<form class="input-group">
  <div class="input-row">
    <label>Full name</label>
    <input type="text" placeholder="Mister Ratchet">
  </div>
  <div class="input-row">
    <label>Email</label>
    <input type="email" placeholder="ratchetframework@gmail.com">
  </div>
  <div class="input-row">
    <label>Username</label>
    <input type="text" placeholder="goRatchet">
  </div>
</form>
</div>
</div>