<header class="bar bar-nav">
  <button class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
  </button>
  <button class="btn btn-link btn-nav pull-right">
    <span class="icon icon-right-nav"></span>
  </button>
  <div class="segmented-control">
    <a class="control-item active">all</a>
    <a class="control-item">album</a>
    <a class="control-item">artist</a>
    <a class="control-item">playlist</a>
    <a class="control-item">track</a>
  </div>
</header>
<!-- Block button in standard bar fixed below top bar -->
<div class="bar bar-standard bar-header-secondary">
  <form>
    <input class="search-term" type="search" placeholder="Search" value="{{searchTerm}}" />
  </form>
</div>
<div class="content sliding left hidden">
  <ul class="table-view">
  </ul>
</div>